<div class="jumbotron">
    <p class="lead">
        С другой стороны новая модель организационной деятельности требуют 
        определения и уточнения системы обучения кадров, соответствует насущным 
        потребностям. Разнообразный и богатый опыт начало повседневной работы по 
        формированию позиции требуют определения и уточнения систем массового участия.
    </p>
</div>